
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.*.cache
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
/public/uploads/

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

/.env.dev
/.env.local
/.cursor/
/.claude/
/.scannerwork/
/.idea/
/.DS_Store
/*.code-workspace

###> infection/infection ###
/var/infection/
/.infection.cache
###< infection/infection ###

###> qossmic/deptrac ###
/var/deptrac/
/.deptrac.cache
###< qossmic/deptrac ###

###> HTTP Basic Authentication ###
/docker/nginx/.htpasswd
###< HTTP Basic Authentication ###
