services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hotones_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html:cached
    environment:
      APP_ENV: dev
    depends_on:
      - db
      - redis

  web:
    image: nginx:1.27-alpine
    container_name: hotones_web
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:cached
      - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: mariadb:11.4
    container_name: hotones_db
    environment:
      MYSQL_DATABASE: hotones
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: hotones_redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]


volumes:
  db-data:
