{% include 'layouts/_main.html.twig' %}

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Welcome{% endblock %} | HotOnes </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Gestion d'agence digitale" name="description" />
        <meta content="Thib" name="author" />
        <base href="/">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">

        {% block stylesheets %}{% endblock %}
        {% include 'layouts/_head-css.html.twig' %}
    </head>

{% block body_tag %}
        {% include 'layouts/_body.html.twig' %}
        {% endblock %}
        {% block body %}

        <!-- Begin page -->
        <div id="layout-wrapper">

            {% include 'layouts/_menu.html.twig' %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="flash-messages">
                            {% for type, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type == 'error' ? 'danger' : type }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>

                        {% block content %}
                        {% endblock %}

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {% include 'layouts/_footer.html.twig' %}
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        {% include 'layouts/_right-sidebar.html.twig' %}

        {% include 'layouts/_vendor-scripts.html.twig' %}

        {% block javascripts %}{% endblock %}

        {% endblock %}
    </body>
</html>
