{% include 'layouts/_main.html.twig' %}

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Bienvenue{% endblock %} | HotOnes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium app to help digital agencies" name="description" />
        <meta content="Thib" name="author" />
        <base href="/">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">

        {% block stylesheets %}{% endblock %}
        {% include 'layouts/_head-css.html.twig' %}
    </head>

    {% block body_tag %}{% endblock %}
    {% block body %}

        {% block content %}{% endblock %}

        {% include 'layouts/_vendor-scripts.html.twig' %}

        {% block javascripts %}{% endblock %}

    {% endblock %}
    </body>
</html>
