{% extends 'layouts/base.html.twig' %}
{% block title %}Preloader Layout{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body_tag %}
<body data-sidebar="dark">
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

{{ component('breadcrumb', { pagetitle: 'Layouts', title: 'Preloader Layout' }) }}



{% endblock %}

{% block javascripts %}
<script src="/assets/js/app.js"></script>
{% endblock %}
